extends layout

block content
  main
    h1= title
    h2 Select your choice
    #spreads
      ul.indSpreads
    .userInput
      label(for="name") Name:
      form(method="POST")
        input(type="text" id="name" name="name")
        input(type="submit" id="submit" value="Submit") 
      p#youPicked
