extends layout

block content
  main
    h1= title
    h2 Select your choice
    #spreads
      ul.indSpreads
    .userInput
      form(method="POST")
        label(for="name") Name:
        input#name(type="text" name="name")
        input(type="submit" id="submit" value="Submit") 
      p#youPicked
