doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/script.js' defer)
  body
    header
      ul#navigation
        li: a(href='/') Home
        li: a(href='/scores') Player Scores
        li: a(href='/pastPicks') Player Picks
    block content
